.container{
	Display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	grid-template-rows:100px 50px auto 50px;
	grid-template-areas:
	"header header header header"
	"nav nav nav nav"
	"main main main aside"
	"footer footer footer footer"
}

main{
	grid-area:main;
	
} 

header{
	grid-area:header;
	font-size: 50px;    
}

footer{
	grid-area:footer;
	text-align: center;
}

h2 {	
	text-align: center;
}

p {
font-size: 10px;
}

.Ord{
	text-align: center;
}

.Form{
	text-align: left;
	font-size: 40px;
}

.reglerfx {
	text-align: center;
	border: 4px solid green;
	color: white;
	background-color: hsla(255, 100%, 39%, 0.5); 
	margin-left: 20px;
	margin-right: 20px;
	margin: 10px;
	font-family: sans-serif;
}

.GreenSpan {
	color: green;
}

.RedSpan {
	color: red;
}

.IndigoSpan {
	color: indigo;
}

.Spelare {
	text-align: left; 
	font-size: 15px;
}

.Ordlista {
	
	text-align: center;
	border: 2px solid black;
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 10px;
	margin: 15px;
	color: white;
	background-color: indigo;
	font-family: sans-serif;
}

.img {
	float:right;
	border: 2px solid black;
}

.figure {
	float: right;
	color: red;
	margin-left: 50px;
	margin-right: 50px;
}

.figure-1  {
	float: right;
	color: green;
	margin-left: 50px;
	margin-right: 50px;
}

.figure-2 {
	float: right;
	color: blue;
	margin-left: 50px;
	margin-right: 50px;
}

.figure-3 {
	float: right;
	color: indigo;
	margin-left: 50px;
	margin-right: 50px;
}

header1 {
	
}

body {
	margin: 0;
	text-align: left;
}

@media only screen and (max-width: 1400px) {
	body {
		background-color: lightblue;
	}
}

@media only screen and (max-width: 1050px) {
	body {
		background-color: lightgreen;
	}
}

@media only screen and (max-width: 750px) {
	body {
		background-color: yellow;
	}
}

@media only screen and (max-width: 450px) {
	body {
		background-color: hsl(37, 100%, 50%);
	}
}

h1 {
	font-family: lato;
	margin-top: 0;
}

.historia {  
   font-family: Lato;
   text-align: left;
   margin: 0;
   padding: 0;
}

article {
	font-size: 20px;
	text-align: left;
}

section {
	
}

p {
	font-size: 20px;
}

footer{
	grid-area:footer;
}

table {
	border: 2px solid red; 
}

td {
	border: 2px solid black;
	font-size: 100%;
}

.nav {
  overflow: hidden;
  background-color: #333;
}

.nav a {
  float: left;
  display: block;
  color: red;
  text-align: Center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav a:hover {
  background-color: yellow;
  color: red;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

@media only screen and (min-width: 768px) {
	body {
		text-align: left;
		font-size: 18px;
    }
	
    p {
		line-height: 1.6em;
	}
	section {	
		column-count: 2;
	}	
}

.row::after {
	content: "";
	clear: both;
	display: table;	
}

.Teknik {
	text-align: center;
	border: 2px solid black;
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 10px;
	margin: 15px;
	color: black;
	background-color: Seagreen;
	font-family: sans-serif;
}
	
.column {
	float: right;
	color: red;
	margin-left: 50px;
	margin-right: 50px;
}

.Tennisbana {
text-align: center;
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 10px;
	margin: 15px;
	font-family: sans-serif;

}


.Utrustning {
	text-align: center;
	border: 2px solid black;
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 10px;
	margin: 15px;
	color: black;
	background-color: Orange;
	font-family: sans-serif;
}
