
.container{
	Display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	grid-template-rows:100px 50px auto 50px;
	grid-template-areas:
	"header header header header"
	"nav nav nav nav"
	"main main main aside"
	"footer footer footer footer"
}


main{
	grid-area:main;
	
	
    
} 

header{
	grid-area:header;
	font-size: 50px; 
    
}

footer{
	grid-area:footer;
	text-align: center;

}

h2 {
	
	text-align: center;
	
}

p {
	
font-size: 10px;
	
}

.Ord{
	
	text-align: center;
	
	
}

.reglerfx {
	text-align: center;
	border: 4px solid green;
	color: red;
	background-color: indigo;
	margin-left: 20px;
	margin-right: 20px;
	margin: 10px;
	font-size: sans-serif;
	
	
	
}




.Ordlista {
	
	text-align: center;
	border: 2px solid black;
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 10px;
	margin: 15px;
	color: white;
	background-color: indigo;
	font-size: sans-serif;
	
}




.img {
	float:right;
	border: 2px solid black;
	
}

.Timg {
	float:right;
	
	
}

.Kimg {
	float:right;
	
}

.Bimg {
	float:right;
	
}

.Ximg {
	float:right;
	
}





header1 {
	
	
	
}

body {
	margin: 0;
	text-align: left;
	
}

h1 {
	
	font-family: lato;
	margin-top: 0;

}

.historia {
        
   font-family: Lato;
   text-align: left;
   margin: 0;
   padding: 0;
	
}

article {
	font-size: 20px;
	text-align: left;
	
	
	
	
}

section {
	
}


p {
	font-size: 20px;
}


footer{
	grid-area:footer;

}

table {
	border: 2px solid red; 
	
	
}

td {
	border: 2px solid black;
	font-size: 100%;
	
	
}

.nav {
  overflow: hidden;
  background-color: #333;
}


.nav a {
  float: left;
  display: block;
  color: red;
  text-align: Center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav a:hover {
  background-color: yellow;
  color: red;
}

.xnav {
	
	
	
	
	
}


@media only screen and (min-width: 768px) {
	
	body {
		text-align: left;
		font-size: 18px;
    }
    
    p {
		line-height: 1.6em;
	}
	section {
		column-count: 2;


		
	}
		
	
	
}

.column {
	float: left;
	width: 33.33%
	padding: 5px; 
	margin-left: 200px;
	margin-right: 200px;
	margin-top: 25px;
	background-color: indigo;

}

.row::after {
	
	content: "";
	clear: both;
	display: table;
	
}
