
.container{
	Display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	grid-template-rows:100px 50px auto 50px;
	grid-template-areas:
	"header header header header"
	"nav nav nav nav"
	"main main main aside"
	"footer footer footer footer"
}




main{
	grid-area:main;
	
	
    
} 

header{
	grid-area:header;
    
}

footer{
	grid-area:footer;
	text-align: center;

}

footer{
	
text-align: center;
	
}


.img {
	float:right;
	border: 2px solid black;
	
}

.Timg {
	float:right;
	
	
}

.Kimg {
	float:right;
	
}

.Bimg {
	float:right;
	
}

.Ximg {
	float:right;
	
}



header1 {
	
	
	
}

body {
	margin: 0;
	background: rgb(15,15,15);
	color: white;
	text-align: center
	
}

h1 {
	
	font-family: lato;
	margin-top: 0;

}

.test {
                    
	
}

section {
	column-count: 2;
	column-gap: 2em;
	
}


p {
	font-size: 40px;
}


footer{
	grid-area:footer;

}

table {
	border: 2px solid red; 
	
	
}

td {
	border: 2px solid black;
	font-size: 100%;
	
	
}

.nav {
  overflow: hidden;
  background-color: #333;
}


.nav a {
  float: left;
  display: block;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav a:hover {
  background-color: yellow;
  color: red;
}


@media only screen and (min-width: 768px) {
	
	body {
		text-align: left;
		font-size: 18px;
    }
    
    p {
		line-height: 1.6em;
	}
	section {
		column-count: 2;


		
	}
		
	
	
}
